# Unicode book font
public net.minecraft.client.Minecraft f_91045_ # fontManager
public net.minecraft.client.gui.font.FontManager f_94999_ # idToFontMap

# Expose GameRules fields for GameRuleCondition
public net.minecraft.world.level.GameRules f_46129_ # GAME_RULE_TYPES

protected-f net.minecraft.world.item.StandingAndWallBlockItem f_43246_ # wallBlock
